.columnForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  max-width: 300px;
}

.columnFieldName {
  margin: 10px;
}

.columnWrapper {
  display: flex;
  flex-direction: row;
}

button {
  white-space: nowrap;
}
