@import '../../styles/settings.scss';

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: darken($color: $color-dark, $amount: 3%);
  padding: 0 6rem;
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}

i {
  font-size: 24px;
  color: white;
  margin: 1.5rem 0;
}
